*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    width: 100%;
    background-color: #010805;
    background-image: url("https://images.pexels.com/photos/4226769/pexels-photo-4226769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    color: #030f0b;
    text-align: center;
  }
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(16, 12, 73, 0.3);
  }